.p-Home.Flex1 {
display: flex;
justify-content: space-around;
padding-left: 50px;
padding-right: 50px;
align-items: center;
padding-top: 15px;
padding-bottom: 10px;
}
.p-Home.Flex2 {
display: flex;
column-gap: 25px;
font-family: Inter;
font-weight: 400;
font-size: 16px;
color: #6c6c73;
align-items: center;
}
.p-Home.Flex6 {
display: flex;
column-gap: 8px;
align-items: center;
cursor: pointer;
}
.p-Home.Flex3 {
display: flex;
align-items: center;
column-gap: 20px;
}
.p-Home.Flex4 {
display: flex;
column-gap: 5px;
align-items: center;
cursor: pointer;
}
.p-Home.Flex5 {
display: flex;
align-items: center;
column-gap: 3px;
cursor: pointer;
}
.p-Home.Flex7 {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding-top: 100px;
row-gap: 15px;
background-image: url("/app-assets/61f7240dad0d12c4a7e64675_home-background-codely-webflow-template.jpeg");
background-repeat: round;
background-position-y: 120px;
background-origin: border-box;
background-attachment: fixed;
padding-bottom: 130px;
margin-bottom: ;
}
.p-Home.Flex8 {
display: flex;
column-gap: 25px;
align-items: center;
padding-top: 20px;
font-family: Inter;
font-weight: 400;
font-size: 16px;
padding-bottom: 50px;
}
.p-Home.Flex9 {
display: flex;
column-gap: 7px;
padding-left: 20px;
padding-right: 20px;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 25px;
background-color: #0b0b0b;
color: #fffefe;
}
.p-Home.Flex10 {
display: flex;
column-gap: 7px;
}
.p-Home.Flex11 {
display: flex;
column-gap: 35px;
padding-top: 30px;
}
.p-Home.Flex16 {
display: flex;
column-gap: 36px;
padding-top: 20px;
}
.p-Home.Flex29 {
display: flex;
flex-direction: column;
align-items: center;
padding-top: 150px;
row-gap: 15px;
background-color: #F9FAFD;
padding-bottom: 50px;
}
.p-Home.Flex30 {
display: flex;
column-gap: 50px;
padding-top: 50px;
}
.p-Home.Flex31 {
display: flex;
flex-direction: column;
row-gap: 15px;
border-radius: ;
border-style: none;
}
.p-Home.Language_Flex_1 {
display: flex;
align-items: center;
column-gap: 20px;
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
padding-bottom: 20px;
border-radius: 20px;
border-style: solid;
border-color: #d5d5d5;
border-width: 1px;
}
.p-Home.Flex37 {
display: flex;
flex-direction: column;
row-gap: 14px;
}
.p-Home.Language_Text_1_Flex {
display: flex;
}
.p-Home.Flex45 {
display: flex;
column-gap: 10px;
}
.p-Home.Language_Flex_2 {
display: flex;
align-items: center;
column-gap: 20px;
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
padding-bottom: 20px;
border-color: #d5d5d5;
border-style: solid;
border-width: 1px;
border-radius: 20px;
}
.p-Home.Flex_X {
display: flex;
flex-direction: column;
row-gap: 14px;
}
.p-Home.Flex46 {
display: flex;
column-gap: 10px;
}
.p-Home.Language_Text_2_Flex {
display: flex;
}
.p-Home.Language_Flex_3 {
display: flex;
align-items: center;
column-gap: 20px;
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
padding-bottom: 20px;
border-radius: 20px;
border-width: 1px;
border-style: solid;
border-color: #d5d5d5;
}
.p-Home.Flex40 {
display: flex;
flex-direction: column;
row-gap: 14px;
}
.p-Home.Flex47 {
display: flex;
column-gap: 10px;
}
.p-Home.Language_Text_3_Flex {
display: flex;
}
.p-Home.Language_Flex_4 {
display: flex;
align-items: center;
column-gap: 20px;
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
padding-bottom: 20px;
border-radius: 20px;
border-width: 1px;
border-style: solid;
border-color: #d5d5d5;
}
.p-Home.Flex42 {
display: flex;
flex-direction: column;
row-gap: 14px;
}
.p-Home.Flex48 {
display: flex;
column-gap: 10px;
}
.p-Home.Language_Text_4_Flex {
display: flex;
}
.p-Home.Flex32 {
display: flex;
align-items: center;
}
.p-Home.Flex58 {
display: flex;
column-gap: 25px;
align-items: center;
padding-top: 20px;
font-family: Inter;
font-weight: 400;
font-size: 16px;
padding-bottom: 50px;
}
.p-Home.Flex56 {
display: flex;
column-gap: 7px;
}
.p-Home.Flex57 {
display: flex;
column-gap: 7px;
padding-left: 20px;
padding-right: 20px;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 25px;
background-color: #0b0b0b;
color: #fffefe;
}
.p-Home.Flex59 {
display: flex;
align-items: stretch;
justify-content: center;
padding-top: 150px;
padding-bottom: 30px;
}
.p-Home.Flex60 {
display: flex;
column-gap: 100px;
justify-content: space-around;
}
.p-Home.Flex61 {
display: flex;
background-image: url("/app-assets/61e1d27963c4bc4fbe69d9f9_blob-1-bg-codely-webflow-template.png");
padding-left: 50px;
padding-right: ;
padding-top: 50px;
padding-bottom: 80px;
background-repeat: round;
background-position-x: -70px;
background-position-y: -70px;
background-origin: padding-box;
background-clip: padding-box;
-webkit-background-clip: padding-box;
background-attachment: scroll;
position: relative;
bottom: 100px;
right: 100px;
}
.p-Home.Flex62 {
display: flex;
flex-direction: column;
row-gap: 35px;
align-items: flex-start;
justify-content: flex-start;
max-width: 480px;
}
.p-Home.Flex63 {
display: flex;
column-gap: 20px;
align-items: flex-start;
}
.p-Home.Flex65 {
display: flex;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Flex67 {
display: flex;
column-gap: 20px;
align-items: flex-start;
}
.p-Home.Flex66 {
display: flex;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Flex160 {
display: flex;
column-gap: 25px;
align-items: center;
padding-top: 20px;
font-family: Inter;
font-weight: 400;
font-size: 16px;
padding-bottom: 50px;
}
.p-Home.Flex158 {
display: flex;
column-gap: 7px;
padding-left: 20px;
padding-right: 20px;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 25px;
background-color: #0b0b0b;
color: #fffefe;
}
.p-Home.Flex159 {
display: flex;
column-gap: 7px;
}
.p-Home.Flex71 {
display: flex;
align-items: stretch;
justify-content: center;
padding-bottom: 100px;
}
.p-Home.Flex72 {
display: flex;
background-color: #020202;
border-radius: 50px;
padding-left: ;
padding-right: ;
padding-top: ;
flex-direction: column;
row-gap: 45px;
padding-bottom: ;
}
.p-Home.Flex85 {
display: flex;
flex-direction: column;
row-gap: 45px;
background-image: url("/app-assets/61eb31797ea65f31424db27c_inner-section-dark-bg-blur-codely-webflow-ecommerce-template.png");
background-repeat: round;
padding-top: 150px;
padding-left: 100px;
padding-right: 100px;
padding-bottom: 150px;
border-radius: 40px;
}
.p-Home.Flex73 {
display: flex;
justify-content: space-between;
padding-bottom: 50px;
width: 100%;
}
.p-Home.Flex70 {
display: flex;
column-gap: 25px;
align-items: center;
padding-top: 20px;
font-family: Inter;
font-weight: 400;
font-size: 16px;
padding-bottom: ;
}
.p-Home.Flex68 {
display: flex;
column-gap: 7px;
padding-left: 20px;
padding-right: 20px;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 25px;
background-color: #ffffff;
color: #fffefe;
}
.p-Home.Flex69 {
display: flex;
column-gap: 7px;
}
.p-Home.Flex89 {
display: flex;
justify-content: space-between;
}
.p-Home.Flex86 {
display: flex;
flex-direction: column;
row-gap: 15px;
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
}
.p-Home.Flex87 {
display: flex;
flex-direction: column;
row-gap: 15px;
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
}
.p-Home.Flex88 {
display: flex;
flex-direction: column;
row-gap: 15px;
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
}
.p-Home.Flex93 {
display: flex;
justify-content: space-between;
}
.p-Home.Flex90 {
display: flex;
flex-direction: column;
row-gap: 15px;
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
}
.p-Home.Flex91 {
display: flex;
flex-direction: column;
row-gap: 15px;
padding-bottom: 10px;
padding-top: 10px;
padding-right: 10px;
padding-left: 10px;
}
.p-Home.Flex92 {
display: flex;
flex-direction: column;
row-gap: 15px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.Flex94 {
display: flex;
background-image: url("/app-assets/61eb32cf8838a15d0e973db0_cta-big-bg-blur-codely-webflow-ecommerce-template.png");
flex-direction: column;
align-items: center;
padding-bottom: ;
row-gap: 20px;
padding-left: 50px;
padding-right: 50px;
}
.p-Home.Flex95 {
display: flex;
justify-content: center;
align-items: flex-start;
}
.p-Home.Flex98 {
display: flex;
column-gap: 25px;
align-items: center;
padding-top: 20px;
font-family: Inter;
font-weight: 400;
font-size: 16px;
padding-bottom: 40px;
}
.p-Home.Flex96 {
display: flex;
column-gap: 7px;
padding-left: 20px;
padding-right: 20px;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 25px;
background-color: #0b0b0b;
color: #fffefe;
}
.p-Home.Flex97 {
display: flex;
column-gap: 7px;
}
.p-Home.Flex99 {
display: flex;
padding-top: 150px;
justify-content: center;
padding-bottom: 100px;
align-items: center;
}
.p-Home.Flex100 {
display: flex;
flex-direction: row;
row-gap: 20px;
align-items: stretch;
justify-content: space-around;
flex-wrap: nowrap;
padding-left: 200px;
}
.p-Home.Flex104 {
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-self: flex-start;
padding-left: 2px;
row-gap: 20px;
align-items: flex-start;
}
.p-Home.Flex107 {
display: flex;
column-gap: 25px;
align-items: center;
padding-top: 20px;
font-family: Inter;
font-weight: 400;
font-size: 16px;
padding-bottom: 40px;
}
.p-Home.Flex105 {
display: flex;
column-gap: 7px;
}
.p-Home.Flex106 {
display: flex;
column-gap: 7px;
padding-left: 20px;
padding-right: 20px;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 25px;
background-color: #0b0b0b;
color: #fffefe;
}
.p-Home.Flex113 {
display: flex;
background-color: #F9FAFD;
justify-content: center;
}
.p-Home.Flex127 {
display: flex;
background-color: ;
border-radius: 50px;
padding-left: ;
padding-right: ;
padding-top: ;
flex-direction: column;
row-gap: 45px;
padding-bottom: ;
}
.p-Home.Flex126 {
display: flex;
flex-direction: column;
row-gap: 45px;
background-image: ;
background-repeat: round;
padding-top: 150px;
padding-left: ;
padding-right: ;
padding-bottom: 150px;
border-radius: 40px;
}
.p-Home.Flex124 {
display: flex;
justify-content: space-around;
column-gap: 30px;
}
.p-Home.Flex121 {
display: flex;
flex-direction: column;
row-gap: 15px;
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 50px;
align-items: center;
border-radius: 30px;
border-style: solid;
border-width: 2px;
border-color: #eae6e6;
}
.p-Home.Flex128 {
display: flex;
flex-direction: column;
row-gap: 15px;
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 50px;
align-items: center;
border-radius: 30px;
border-width: 2px;
border-style: solid;
border-color: #eae6e6;
}
.p-Home.Flex129 {
display: flex;
flex-direction: column;
row-gap: 15px;
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 50px;
align-items: center;
border-radius: 30px;
border-width: 2px;
border-style: solid;
border-color: #eae6e6;
}
.p-Home.Flex125 {
display: flex;
justify-content: space-between;
padding-bottom: ;
width: 100%;
align-items: center;
}
.p-Home.Flex122 {
display: flex;
column-gap: 25px;
align-items: center;
padding-top: 20px;
font-family: Inter;
font-weight: 400;
font-size: 16px;
padding-bottom: ;
}
.p-Home.Flex114 {
display: flex;
column-gap: 7px;
}
.p-Home.Flex115 {
display: flex;
column-gap: 7px;
padding-left: 20px;
padding-right: 20px;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 25px;
background-color: #000000;
color: #fffefe;
}
.p-Home.Flex130 {
display: flex;
background-image: url("/app-assets/61e5ac43237b05789265a8c4_testimonial-bg-blob-codely-webflow-ecommerce-template.svg");
flex-direction: column;
align-items: center;
row-gap: 25px;
padding-bottom: 100px;
padding-top: 100px;
}
.p-Home.Flex131 {
display: flex;
width: 55%;
flex-direction: column;
align-items: center;
justify-content: flex-start;
row-gap: 20px;
border-radius: 10px;
border-style: solid;
border-width: 2px;
border-color: #eae6e6;
padding-bottom: 80px;
background-color: #ffffff;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
}
.p-Home.Flex132 {
display: flex;
column-gap: 20px;
align-items: center;
}
.p-Home.Flex133 {
display: flex;
flex-direction: column;
row-gap: 4px;
}
.p-Home.Flex134 {
display: flex;
column-gap: 20px;
padding-top: 30px;
}
.p-Home.Flex135 {
display: flex;
align-items: center;
justify-content: center;
padding-left: 50px;
padding-top: 30px;
padding-bottom: 30px;
padding-right: 50px;
background-color: #ffffff;
border-radius: 20px;
border-width: 2px;
border-style: solid;
border-color: #eae6e6;
}
.p-Home.Flex136 {
display: flex;
align-items: center;
justify-content: center;
padding-left: 50px;
padding-top: 30px;
padding-bottom: 30px;
padding-right: 50px;
background-color: #ffffff;
border-radius: 20px;
border-color: #eae6e6;
border-width: 2px;
border-style: solid;
}
.p-Home.Flex137 {
display: flex;
align-items: center;
justify-content: center;
padding-left: 50px;
padding-top: 30px;
padding-bottom: 30px;
padding-right: 50px;
background-color: #ffffff;
border-radius: 20px;
border-style: solid;
border-width: 2px;
border-color: #eae6e6;
}
.p-Home.Flex138 {
display: flex;
background-image: url("/app-assets/61eb33edcf8b5cd108e17d94_cta-main-bg-blur-codely-webflow-ecommerce-template.png");
padding-top: 100px;
padding-bottom: ;
padding-left: 50px;
padding-right: 50px;
justify-content: center;
}
.p-Home.Flex143 {
display: flex;
flex-direction: row;
row-gap: 20px;
align-items: stretch;
justify-content: center;
flex-wrap: nowrap;
padding-left: ;
}
.p-Home.Flex142 {
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-self: flex-start;
padding-left: 30px;
row-gap: 20px;
align-items: flex-start;
justify-content: flex-start;
padding-top: 30px;
padding-bottom: 30px;
}
.p-Home.Flex141 {
display: flex;
column-gap: 25px;
align-items: center;
padding-top: 20px;
font-family: Inter;
font-weight: 400;
font-size: 16px;
padding-bottom: 40px;
}
.p-Home.Flex139 {
display: flex;
column-gap: 7px;
padding-left: 20px;
padding-right: 20px;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 25px;
background-color: #0b0b0b;
color: #fffefe;
}
.p-Home.Flex140 {
display: flex;
column-gap: 7px;
}
.p-Home.Flex146 {
display: flex;
flex-direction: column;
}
.p-Home.Flex147 {
display: flex;
background-color: #050505;
}
.p-Home.Flex148 {
display: flex;
width: 100%;
background-image: url("/app-assets/61eb3a2129adec31a7d8e57b_footer-bg-blur-codely-webflow-ecommerce-template.png");
justify-content: center;
padding-top: 100px;
padding-bottom: 100px;
column-gap: 45px;
background-position-y: 30px;
background-position-x: -440px;
background-repeat: no-repeat;
}
.p-Home.Flex149 {
display: flex;
flex-direction: column;
row-gap: 25px;
}
.p-Home.Flex154 {
display: flex;
background-color: #252526;
border-radius: 25px;
padding-left: 20px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 30px;
flex-direction: column;
row-gap: 10px;
justify-content: center;
align-items: flex-start;
}
.p-Home.Flex150 {
display: flex;
flex-direction: column;
row-gap: 18px;
}
.p-Home.Flex155 {
display: flex;
flex-direction: column;
row-gap: 18px;
}
.p-Home.Flex156 {
display: flex;
flex-direction: column;
row-gap: 18px;
}
.p-Home.Flex157 {
display: flex;
flex-direction: column;
row-gap: 18px;
}
.p-Home.Image1 {
;
}
.p-Home.TextBox1 {
cursor: pointer;
}
.p-Home.TextBox2 {
cursor: pointer;
}
.p-Home.TextBox3 {
cursor: pointer;
}
.p-Home.TextBox4 {
cursor: pointer;
}
.p-Home.TextBox5 {
;
}
.p-Home.Image3 {
width: 10px;
}
.p-Home.Button1 {
color: #fff;
background-color: #0f0f0f;
padding-top: 12px;
padding-left: 18px;
padding-bottom: 12px;
padding-right: 18px;
font-size: 16px;
border-radius: 20px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
}
.p-Home.TextBox6 {
font-family: Inter;
font-size: 16px;
font-weight: 400;
color: #6c6c73;
}
.p-Home.TextBox8 {
background-color: #070707;
color: #ffffff;
padding-left: 5px;
padding-right: 5px;
padding-top: 2px;
padding-bottom: 2px;
border-radius: 20px;
}
.p-Home.TextBox7 {
font-family: Inter;
font-weight: 400;
font-size: 16px;
color: #6c6c73;
}
.p-Home.Image2 {
width: 15px;
}
.p-Home.TextBox9 {
font-family: Inter;
font-weight: 600;
font-size: 40px;
width: 40%;
text-align: center;
}
.p-Home.TextBox10 {
width: 50%;
text-align: center;
font-family: Inter;
font-weight: 400;
font-size: 16px;
color: #58585f;
}
.p-Home.Image6 {
width: 70%;
}
.p-Home.TextBox11 {
;
}
.p-Home.Image4 {
width: 15px;
color: #ffffff;
}
.p-Home.TextBox12 {
;
}
.p-Home.Image5 {
width: 15px;
}
.p-Home.Image7 {
;
}
.p-Home.Image8 {
;
}
.p-Home.Image9 {
;
}
.p-Home.Image10 {
;
}
.p-Home.Image11 {
;
}
.p-Home.Image12 {
;
}
.p-Home.Image19 {
;
}
.p-Home.Image20 {
;
}
.p-Home.Image21 {
;
}
.p-Home.Image22 {
;
}
.p-Home.Image23 {
;
}
.p-Home.TextBox13 {
font-family: Inter;
font-weight: 600;
font-size: 32px;
}
.p-Home.TextBox14 {
text-align: center;
width: 40%;
font-family: Inter;
font-weight: 400;
color: #737373;
font-size: 15px;
}
.p-Home.Image25 {
;
}
.p-Home.Language_Text_1 {
width: 300px;
font-family: Inter;
font-weight: 500;
font-size: 14px;
color: #6b6a6a;
}
.p-Home.TextBox15 {
font-family: Inter;
font-weight: 600;
}
.p-Home.Image29 {
width: 18px;
}
.p-Home.Image26 {
;
}
.p-Home.Image30 {
width: 18px;
}
.p-Home.TextBox23 {
font-family: Inter;
font-weight: 600;
}
.p-Home.Language_Text_2 {
width: 300px;
font-family: Inter;
font-weight: 500;
font-size: 14px;
color: #6b6a6a;
border-color: ;
}
.p-Home.Image27 {
;
}
.p-Home.Image31 {
width: 18px;
}
.p-Home.TextBox24 {
font-family: Inter;
font-weight: 600;
}
.p-Home.Language_Text_3 {
width: 300px;
font-family: Inter;
font-weight: 500;
font-size: 14px;
color: #6b6a6a;
}
.p-Home.Image28 {
;
}
.p-Home.Image32 {
width: 18px;
}
.p-Home.TextBox25 {
font-family: Inter;
font-weight: 600;
}
.p-Home.Language_Text_4 {
width: 300px;
font-family: Inter;
font-weight: 500;
font-size: 14px;
color: #6b6a6a;
}
.p-Home.Image24 {
width: 400px;
}
.p-Home.Image37 {
width: 15px;
}
.p-Home.TextBox30 {
;
}
.p-Home.Image38 {
width: 15px;
color: #ffffff;
}
.p-Home.TextBox31 {
;
}
.p-Home.Image41 {
width: 400px;
position: relative;
top: 100px;
left: 100px;
}
.p-Home.TextBox32 {
font-family: Inter;
font-weight: 500;
font-size: 27px;
padding-bottom: 10px;
}
.p-Home.Image42 {
;
}
.p-Home.TextBox33 {
font-family: Inter;
font-weight: 400;
font-size: 15px;
color: #606060;
}
.p-Home.TextBox34 {
font-family: Inter;
font-weight: 500;
font-size: 21px;
}
.p-Home.Image43 {
;
}
.p-Home.TextBox35 {
font-family: Inter;
font-weight: 500;
font-size: 21px;
}
.p-Home.TextBox36 {
font-family: Inter;
font-weight: 400;
font-size: 15px;
color: #606060;
}
.p-Home.TextBox144 {
;
}
.p-Home.Image96 {
width: 15px;
color: #ffffff;
}
.p-Home.TextBox145 {
;
}
.p-Home.Image97 {
width: 15px;
}
.p-Home.TextBox39 {
font-family: Inter;
font-weight: 500;
font-size: 24px;
color: #ffffff;
width: 300px;
}
.p-Home.TextBox37 {
font-family: Inter;
font-weight: 400;
font-size: 16px;
color: #050505;
}
.p-Home.Image44 {
width: 15px;
color: #ffffff;
}
.p-Home.TextBox38 {
font-family: Inter;
font-weight: 400;
font-size: 16px;
color: #ffffff;
}
.p-Home.Image45 {
width: 15px;
}
.p-Home.Image54 {
width: 50px;
padding-bottom: 10px;
}
.p-Home.TextBox52 {
font-family: Inter;
font-weight: 500;
font-size: 22px;
color: #ffffff;
}
.p-Home.TextBox53 {
font-family: Inter;
font-weight: 400;
font-size: 15px;
color: #d0d0d0;
width: 250px;
}
.p-Home.TextBox54 {
font-family: Inter;
font-weight: 400;
font-size: 15px;
color: #d0d0d0;
width: 250px;
}
.p-Home.TextBox55 {
font-family: Inter;
font-weight: 500;
font-size: 22px;
color: #ffffff;
}
.p-Home.Image55 {
width: 50px;
padding-bottom: 10px;
}
.p-Home.TextBox56 {
font-family: Inter;
font-weight: 400;
font-size: 15px;
color: #d0d0d0;
width: 250px;
}
.p-Home.TextBox57 {
font-family: Inter;
font-weight: 500;
font-size: 22px;
color: #ffffff;
}
.p-Home.Image56 {
width: 50px;
padding-bottom: 10px;
}
.p-Home.Image57 {
width: 50px;
padding-bottom: 10px;
}
.p-Home.TextBox58 {
font-family: Inter;
font-weight: 500;
font-size: 22px;
color: #ffffff;
}
.p-Home.TextBox59 {
font-family: Inter;
font-weight: 400;
font-size: 15px;
color: #d0d0d0;
width: 250px;
}
.p-Home.Image58 {
width: 50px;
padding-bottom: 10px;
}
.p-Home.TextBox60 {
font-family: Inter;
font-weight: 500;
font-size: 22px;
color: #ffffff;
}
.p-Home.TextBox61 {
font-family: Inter;
font-weight: 400;
font-size: 15px;
color: #d0d0d0;
width: 250px;
}
.p-Home.TextBox62 {
font-family: Inter;
font-weight: 400;
font-size: 15px;
color: #d0d0d0;
width: 250px;
}
.p-Home.TextBox63 {
font-family: Inter;
font-weight: 500;
font-size: 22px;
color: #ffffff;
}
.p-Home.Image59 {
width: 50px;
padding-bottom: 10px;
}
.p-Home.TextBox64 {
font-family: Inter;
font-weight: 600;
font-size: 32px;
}
.p-Home.TextBox65 {
text-align: center;
width: 40%;
font-family: Inter;
font-weight: 400;
color: #737373;
font-size: 15px;
}
.p-Home.Image60 {
width: 70%;
max-width: ;
}
.p-Home.Image61 {
padding-left: 38px;
left: 100px;
position: relative;
top: 100px;
}
.p-Home.Image62 {
position: relative;
right: 100px;
top: 30px;
}
.p-Home.TextBox66 {
;
}
.p-Home.Image63 {
width: 15px;
color: #ffffff;
}
.p-Home.TextBox67 {
;
}
.p-Home.Image64 {
width: 15px;
}
.p-Home.Image68 {
max-width: ;
width: 50%;
}
.p-Home.TextBox69 {
font-family: Inter;
font-weight: 600;
font-size: 27px;
max-width: 340px;
}
.p-Home.TextBox70 {
text-align: left;
width: 80%;
font-family: Inter;
font-weight: 400;
color: #737373;
font-size: 15px;
}
.p-Home.Image69 {
width: 15px;
}
.p-Home.TextBox71 {
;
}
.p-Home.Image70 {
width: 15px;
color: #ffffff;
}
.p-Home.TextBox72 {
;
}
.p-Home.TextBox89 {
font-family: Inter;
font-weight: 400;
font-size: 15px;
color: #757575;
width: 250px;
text-align: center;
}
.p-Home.TextBox90 {
font-family: Inter;
font-weight: 500;
font-size: 22px;
color: #4c3f3f;
}
.p-Home.Image79 {
width: 300px;
padding-bottom: 10px;
border-radius: 25px;
}
.p-Home.Image80 {
width: 300px;
padding-bottom: 10px;
border-radius: 25px;
}
.p-Home.TextBox92 {
font-family: Inter;
font-weight: 500;
font-size: 22px;
color: #4c3f3f;
}
.p-Home.TextBox93 {
font-family: Inter;
font-weight: 400;
font-size: 15px;
color: #757575;
width: 250px;
text-align: center;
}
.p-Home.Image81 {
width: 300px;
padding-bottom: 10px;
border-radius: 25px;
}
.p-Home.TextBox94 {
font-family: Inter;
font-weight: 500;
font-size: 22px;
color: #4c3f3f;
}
.p-Home.TextBox95 {
font-family: Inter;
font-weight: 400;
font-size: 15px;
color: #757575;
width: 250px;
text-align: center;
}
.p-Home.TextBox91 {
font-family: Inter;
font-weight: 500;
font-size: 24px;
color: #000000;
width: 300px;
}
.p-Home.Image72 {
width: 15px;
}
.p-Home.TextBox77 {
font-family: Inter;
font-weight: 400;
font-size: 16px;
color: #000000;
}
.p-Home.Image73 {
width: 15px;
color: #ffffff;
}
.p-Home.TextBox78 {
font-family: Inter;
font-weight: 400;
font-size: 16px;
color: #ffffff;
}
.p-Home.TextBox97 {
font-family: Inter;
font-weight: 600;
font-size: 32px;
width: 50%;
text-align: center;
}
.p-Home.TextBox99 {
text-align: center;
width: 50%;
font-family: Inter;
font-weight: 400;
color: #737373;
font-size: 15px;
}
.p-Home.Image82 {
padding-top: ;
padding-bottom: 80px;
width: 100%;
}
.p-Home.TextBox100 {
font-family: Inter;
font-weight: 500;
font-size: 36px;
}
.p-Home.TextBox101 {
text-align: center;
font-family: Inter;
font-weight: 400;
font-size: 16px;
color: #696666;
width: 70%;
}
.p-Home.Image83 {
border-radius: 50%;
width: 50px;
height: 50px;
}
.p-Home.TextBox102 {
font-family: Inter;
font-weight: 400;
color: #6a6767;
}
.p-Home.TextBox103 {
font-family: Inter;
font-weight: 600;
}
.p-Home.Image84 {
;
}
.p-Home.Image85 {
;
}
.p-Home.Image86 {
;
}
.p-Home.TextBox106 {
text-align: left;
width: 80%;
font-family: Inter;
font-weight: 400;
color: #737373;
font-size: 15px;
}
.p-Home.TextBox107 {
font-family: Inter;
font-weight: 600;
font-size: 27px;
max-width: 340px;
}
.p-Home.TextBox104 {
;
}
.p-Home.Image87 {
width: 15px;
color: #ffffff;
}
.p-Home.TextBox105 {
;
}
.p-Home.Image88 {
width: 15px;
}
.p-Home.Image89 {
max-width: ;
width: 100%;
}
.p-Home.Image94 {
width: 250px;
position: relative;
bottom: 370px;
right: 100px;
}
.p-Home.Image95 {
width: 150px;
}
.p-Home.TextBox108 {
font-family: Inter;
font-weight: 400;
font-size: 17px;
color: #ffffff;
}
.p-Home.TextBox109 {
width: 240px;
font-family: Inter;
font-weight: 400;
color: #b4b4b4;
font-size: 14px;
padding-bottom: 10px;
}
.p-Home.Input1 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #fefafad9;
font-size: 14px;
background-color: #6C6C72;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
width: 90%;
height: 40px;
}
.p-Home.Button2 {
color: #000000;
background-color: #ffffff;
padding-top: 12px;
padding-left: 15px;
padding-bottom: 12px;
padding-right: 15px;
font-size: 14px;
border-radius: 20px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: Inter;
}
.p-Home.TextBox110 {
font-family: Inter;
font-weight: 500;
color: #ffffff;
padding-bottom: 10px;
}
.p-Home.TextBox111 {
font-family: Inter;
font-weight: 400;
color: #ffffff;
}
.p-Home.TextBox118 {
font-family: Inter;
font-weight: 400;
color: #ffffff;
}
.p-Home.TextBox119 {
font-family: Inter;
font-weight: 400;
color: #ffffff;
}
.p-Home.TextBox120 {
font-family: Inter;
font-weight: 400;
color: #ffffff;
}
.p-Home.TextBox121 {
font-family: Inter;
font-weight: 400;
color: #ffffff;
}
.p-Home.TextBox122 {
font-family: Inter;
font-weight: 400;
color: #ffffff;
}
.p-Home.TextBox123 {
font-family: Inter;
font-weight: 400;
color: #ffffff;
}
.p-Home.TextBox124 {
font-family: Inter;
font-weight: 400;
color: #ffffff;
}
.p-Home.TextBox125 {
font-family: Inter;
font-weight: 400;
color: #ffffff;
}
.p-Home.TextBox126 {
font-family: Inter;
font-weight: 400;
color: #ffffff;
}
.p-Home.TextBox127 {
font-family: Inter;
font-weight: 400;
color: #ffffff;
}
.p-Home.TextBox128 {
font-family: Inter;
font-weight: 400;
color: #ffffff;
}
.p-Home.TextBox129 {
font-family: Inter;
font-weight: 500;
color: #ffffff;
padding-bottom: 30px;
}
.p-Home.TextBox130 {
font-family: Inter;
font-weight: 400;
color: #ffffff;
}
.p-Home.TextBox131 {
font-family: Inter;
font-weight: 400;
color: #ffffff;
}
.p-Home.TextBox132 {
font-family: Inter;
font-weight: 400;
color: #ffffff;
}
.p-Home.TextBox133 {
font-family: Inter;
font-weight: 400;
color: #ffffff;
}
.p-Home.TextBox134 {
font-family: Inter;
font-weight: 400;
color: #ffffff;
}
.p-Home.TextBox135 {
font-family: Inter;
font-weight: 400;
color: #ffffff;
}
.p-Home.TextBox136 {
font-family: Inter;
font-weight: 500;
color: #ffffff;
padding-bottom: 10px;
}
.p-Home.TextBox137 {
font-family: Inter;
font-weight: 400;
color: #ffffff;
}
.p-Home.TextBox138 {
font-family: Inter;
font-weight: 400;
color: #ffffff;
}
.p-Home.TextBox139 {
font-family: Inter;
font-weight: 400;
color: #ffffff;
}
.p-Home.TextBox140 {
font-family: Inter;
font-weight: 400;
color: #ffffff;
}
.p-Home.TextBox141 {
font-family: Inter;
font-weight: 400;
color: #ffffff;
}
.p-Home.TextBox142 {
font-family: Inter;
font-weight: 400;
color: #ffffff;
}
.p-Home.TextBox143 {
font-family: Inter;
font-weight: 500;
color: #ffffff;
padding-bottom: 10px;
}
